* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--soft-blue-white);
    scroll-behavior: smooth;
}

:root {
    --blue-primary: #025FF4;
    --soft-blue-white: #F5F6FA;
    --white: #FFFFFF;
    --dark-blue: #000610;
    --black: #000000;
    --soft-blue: #dee9ff;
    --grey: rgb(175, 175, 175);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--black);
    padding: 20px 30px;
    position: fixed;
    z-index: 999;
}

.header .logo img {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}

.header .navbar {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 20px;
    color: white;
}

.navbar a{
    text-decoration: none;
    color: var(--white);
    font-size: 16px;
    transition: color 0.3s ease;
}

.navbar a:hover {
    color: var(--blue-primary);
}

.header button {
    padding: 10px 40px;
    background-color: var(--blue-primary);
    color: var(--white);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease;
}

.header button:hover {
    background-color: var(--white);
    color: var(--blue-primary);
}


/* ------------ALL SECTION DO-------------- */
h5 {
    font-size: 18px;
    color: var(--blue-primary);
    font-weight: 400;
    text-transform: uppercase;
}
h3 {
    font-size: 30px;
    color: var(--dark-blue);
    font-weight: 600;
}

.about h1, .values h1, .team-desc h1 {
    font-size: 35px;
    font-weight: 500;
}

/* -----------------footer-------------------- */
.footer {
    display: flex ;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 330px;
    width:100%;
    gap: 20px;
    background-color: var(--dark-blue);
}

.footer hr {
    width: 100%;
}

.footer p {
    font-size: 14px;
    font-weight: 200;
}

.content-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 20px;
    padding: 20px;
}

.frame-one {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
}

.logomeds {
    display: flex;
    gap: 20px;
}

.frame-list .list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.frame-list .list h4 {
    font-size: 18px;
    font-weight: 500;
    color: #6ba4ff;
}

.list .list-menu{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.list-menu a {
    text-decoration: none;
    color: white;
    font-size: 13px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.list-menu a:hover {
    color: var(--blue-primary);

}

.frame-list {
    display: flex;
    gap: 50px;
}

.new {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10px;
    width: 100%;
    padding: 0 50px;
}

.twot {
    display: flex;
    gap: 10px;
}
